body {
  background-color: #3b4252;
  color: #e5e9f0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-title {
  padding-left: 2em;
  padding-bottom: 0.5em;
}

.card {
  background-color: #D8DEE9;
  color: #434c5e;
  margin-left:3em;
  margin-bottom:1em;
  border-left-width: 1em;
  border-left-style:solid;
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  padding: 1em;
  padding-bottom: 1em;
  padding-top: 0.1em;
  width: 20em;
  display: inline-block;
  box-shadow: 5px 5px 2px #1D2330;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="card"] {
    width: 60%;
    margin-left:1em;
  }
}

.card-actions
{
  float:inline-end;
}

.close-button {
  padding-left: 1em;
  padding-right: 1em;
  position:absolute;
  top:0;
  right:0;
  background-color: #4c566a;
  color: #D8DEE9;
  font-weight:500;
  border-radius: 0.2em;
  margin:1em;
}

.button {
  font-size: 1em;
  padding: .5em;
  background-color: #4c566a;
  color: #D8DEE9;
  font-weight:500;
  border-radius: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}


/* The Modal (background) */
.info-modal {
  position: fixed; 
  z-index: 1; /* Sit on top */
  padding-top:5em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Modal Content */
.info-modal-content {
  background-color: #D8DEE9;
  color: #434c5e;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25em;
  border-radius: 0.6em;
  padding-bottom: 3em;
  position:relative;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="info-modal-content"] {
    width: 15em;
  }
}

.member-portrait {
  width: 10em;
}



.search-box-container {
  padding-bottom: 2em;
  padding-left: 3em;
}

.search-box-background {
  background-color: #2e3440;
  padding-right: 0.3em;
  width:360px;
}

.search-box {
  background: url(search_icon.png) no-repeat scroll;
  background-size: 1em;
  background-position: right;
  padding-right: 0.3em;
  color: #D8DEE9;
  font-size: 1.5em;
  background-origin:content-box;
  width:350px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="search-box-container"] 
  {
    width: 10em;
    padding-left: 1em;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="search-box-background"] {
    width: 14em;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="search-box"] {
    width: 9em;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
